{{>heading}}<br>
<input type="button" id="start" value="Start" />
<input type="button" id="sigint" value="SIGINT" disabled="disabled" />
<input type="button" id="sigterm" value="SIGTERM" disabled="disabled" />
<pre id="main"></pre>
